.popup {
  display: none;
  width: 880px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  align-content: center;
  z-index: 1;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
   display: flex; 
    visibility: visible;
    opacity: 1;
}

.popup__button {
   width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  margin-top: 48px;
}

.popup__button:hover {
  opacity: 0.5;
}

.popup__button_close {
  border: none;
  font-size: 40px;
  position: absolute;
  left: 200px;
  top: 90px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

.popup__container {
  margin: auto;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  min-height: 323px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__form {
  margin: auto;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  min-height: 323px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__images {
  margin: 190px auto 0;
}

.popup__content-image {
  max-width: fit-content;
  margin: auto;
}

.popup__image {
  width: 400px;
  height: 400px;
}

.popup__paragraph-content {
  margin: auto;
  width: 400px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.popup__subtitle {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  width: 330px;
  margin: 0 36px;
  padding: 34px 0 54px;
}

.popup__content {
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__button_save {
  width: 100%;
  background-color: #000;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 40px;
}

.popup__button_add {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
}

.popup__button_add_disabled {
  background-color: #c4c4c4;
  cursor: default;
}

.popup__error {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  display: block;
  min-height: 15px;
  opacity: 1;
  transition: opacity 0.3s;
}

.popup__error_hidden {
  opacity: 0;
}

.popup__input_type_error {
  border-bottom: 1px solid #FF0000;
}

.popup__button_add_disabled {
  background-color: #E5E5E5;
  color: #C4C4C4;
  cursor: not-allowed;
  border: 1px solid #C4C4C4;
}

.popup__button_disabled:hover {
  background-color: #E5E5E5;
  opacity: 1;
}


@media screen and (min-width: 320px) and (max-width: 585px) {
  .popup__button_close {
   left: 300px;
    top: -30px;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .popup__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  margin: 0;
}

  .popup__container {
    width: 100%; 
    margin-top: 8px;
    padding: 25px 22px;
    max-width: 280px;
  }

  .popup__images {
    margin: 35px auto 0;
  }

  .popup__image {
    width: 300px;
    height: 280px;
  }

  .popup__paragraph-content {
    width: 300px;
  }

  .popup__subtitle {
    width: 240px;
    margin: 0 22px;
  }

  .popup__content {
     width: 100%; 
    margin-top: 8px;
    padding: 25px 22px;
    max-width: 280px;
  }

  .popup__input {
    width: 240px;
  }
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .popup__button_close {
    left: 300px;
    top: -30px;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .popup__images {
    margin: 35px auto 0;
  }

  .popup__image {
    width: 300px;
    height: 280px;
  }

 .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__paragraph-content {
    width: 300px;
  }

  .popup__container {
    width: 100%;
    margin-top: 8px;
    padding: 25px 22px;
    max-width: 280px;
  }

  .popup__subtitle {
    width: 240px;
    margin: 0 22px;
  }

  .popup__content {
      width: 100%; 
    margin-top: 8px;
    padding: 25px 22px;
    max-width: 280px;
  }

  .popup__input {
    width: 240px;
  }
}
